.cursor {
  position: absolute;
  top: 40vh;
  left: 2vw;
  width: 24px;
  height: 24px;
  object-fit: cover;
  user-select: none;
  pointer-events: none;

  &-default { object-position: 0 0; }
  &-pointer { object-position: -24px 0; }
  &-text { object-position: -48px 0; }
}