@font-face {
  font-family: 'icons';
  src: url('/assets/fonts/icons.eot?ofk457');
  src: url('/assets/fonts/icons.eot?ofk457#iefix') format('embedded-opentype'),
    url('/assets/fonts/icons.ttf?ofk457') format('truetype'),
    url('/assets/fonts/icons.woff?ofk457') format('woff'),
    url('/assets/fonts/icons.svg?ofk457#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search::before {
  content: "\53";
}