.position-abs { position: absolute; }

.display-flex { display: flex; }
.display-inline { display: inline; }

.align-center-x {
  @extend .text-center;
  margin-right: auto;
  margin-left: auto;
}
.align-center-y { align-self: center; }
.align-center-xy {
  @extend .align-center-x;
  @extend .align-center-y;
}
.align-left { left: 0; }
.align-right { right: 0; }

.margin-top-1 { margin-top: 1rem; }
.margin-top-12 { margin-top: .5rem; }
.margin-bottom-1 { margin-bottom: 1rem; }

.hidden {
  display: none;
  visibility: hidden;
}

.box {
  max-width: 600px;
  min-width: 300px;
  width: 70vw;
  height: 45px;
  background-color: var(--box-color);
  padding: 2px;
  border-width: 1px;
  border-color: var(--box-border-color);
  border-style: solid;
  border-radius: 2px;

  &:active,
  &.active {
    border-color: var(--box-active-border-color);
  }
}

.btn {
  width: 52px;
  height: 100%;
  color: var(--faded-accent);
  
  &:hover,
  &.hover {
    background-color: var(--btn-active-color);
    color: white;
  }

  &:active,
  &.active { background-color: #333; }
}