* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: sans-serif;
  font-size: 20px;
  border-top-color: var(--top-border-color);
  border-top-width: 2px;
  border-top-style: solid;
}

h1 { font-weight: normal; }

button,
input[type="submit"] { cursor: pointer; }

input {
  background-color: transparent;
  color: var(--text-color);
}

a { color: var(--link-color); }