.light-top { background-color: #084999; }
.light-bot { background-color: #888; }

.dark-top { background-color: #444; }
.dark-bot { background-color: #222; }

.theme-toggle {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: none;
  border-radius: 100%;
  border: none;
  overflow: hidden;
  margin-left: 4px;
  margin-right: 4px;
  
  * {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    transform: rotateZ(45deg);
  }
  
  :first-child  {
    top: -7px;
    left: -7px;
  }
  :nth-child(2) {
    top: 8px;
    right: -8px;
  }
}
