.text-small { font-size: .75rem; }
.text-italic { font-style: italic; }
.text-bold { font-weight: bold; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.text-hidden {
  font-size: 0;
}
