body { --link-color: #4495d4; }

.light-theme {
  --background-color: #f7f7f7;
  --top-border-color: #de5833;
  --box-color: #fff;
  --text-color: #4C4C4C;
  --box-border-color: #d0d0d0;
  --box-active-border-color: #e7e7e7;
  --btn-active-color: #66ad57;
  --ddg-logo: url("https://lmdtfy.zystvan.com/assets/img/ddg-logo-light.png");
}

.dark-theme {
  --background-color: #333;
  --top-border-color: #242424;
  --box-color: #292929;
  --text-color: #e6e6e6;
  --box-border-color: #242424;
  --box-active-border-color: #7c7c7c;
  --btn-active-color: #1f1f1f;
  --ddg-logo: url("https://lmdtfy.zystvan.com/assets/img/ddg-logo-dark.png");
}
